<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iris</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="title-container">
            <img class="iris-image" src="./logo.png" alt="iris-image">
            <h1 class="app-title">Iris</h1>
        </div>

        <section class="modal">
                        <div>
	                        <h3>Your message was submitted successfully!</h3>;
                        </div>                                             
                    </section>

                    <div class="overlay hidden"></div>
                    

        </div>
