body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

canvas {
    width: 400px;
    height: 400px;
    text-align: center;
    border:2px solid #206493;
    border-radius: 15px;

}

#fileNameDisplay {
    color: #6f95ac;
    font-weight: bold; 
    margin-top: 10px;
}

.diagnose-button:hover {
    background-color: #1c395b;
    color: white;
}

.custom-file-upload:hover {
    background-color: white;
    color: #1c395b;

}

.app-title {
    font-weight: lighter;
    font-size: 40px;
    width: fit-content;
    margin: 0 0 0 50px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload, .diagnose-button {
    display: inline-block;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px 30px;
    font-size: 15px;
    text-align: center;
    width: 150px;
    border: solid 2px #206493;
}

.diagnose-button {
    width: 165px;
    background-color: white;
    color: #206493;

}

.custom-file-upload {
    background-color: #206493;
    color: white;

}

.iris-image {
    height: 40px;
    width: 40px;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adcedb;
    color: white;
    margin-bottom: 40px;
}

.image-block {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45vw;
    border-right: solid 2px #adcedb;
}

.prediction-block {
    width: 40vw;
    margin-left: 80px;
    
}

.sub-container {
    display: flex;
    margin-bottom: 30px;
    
}

.results {
    color: #1c395b;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #1c395b;
    width: 60px;
    margin: auto;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    }

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
    margin-top: auto;
    background-color: #206493;
    text-align: center;
    color: white;
    font-weight: 600;
   
}

.results {
    font-size: 40px;
    font-weight: 600;
    margin:  0 0 30px 0;
    
}

.prediction {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

.diagnosis-detail {
    list-style: none;
    color: #646b7d;
    margin-bottom: 10px;
    font-size: 17px;
    font-style: italic;
}

.diagnosis {
    margin-bottom: 40px;
}

.disclaimer {
    color: #0068cb;
    font-style: italic;
    margin-top: 60px;
}
.disclaimer-option {
    margin-bottom: 10px;
}

.dr-notes {
    color: #0068cb;
    border: solid 2px white;
    border-radius: 8px;
    padding: 5px 15px;
    width: fit-content;
    margin-bottom: 40px;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 40%;
  left: 35%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;

}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

/* button {
  cursor: pointer;
  border: none;
  font-weight: 600;
} */

/* .btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
} */

/* .btn-open {
  position: absolute;
  bottom: 150px;
} */

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}


@media screen and (max-width: 600px) {
  footer {
    margin-top: auto;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 4vw;
  }
   


canvas {
    width: 80vw;
    height: 80vw;
    text-align: center;
    border:2px solid #206493;
    border-radius: 8px;
}

.image-block {
    display: block;
    align-items: center;
    text-align: center;
    width: 80vw;
    border-bottom: solid #206493 2px;
    border-right: none;
}

.sub-container {
    display: block;
    margin-bottom: 30px;
    justify-items: center;
    /* width: 100vw; */
}

.iris-image {
    height: 18px;
    width: 18px;
}

.app-title {
    font-weight: lighter;
    font-size: 20px;
    width: fit-content;
    margin: 0 0 0 30px;
}

#fileNameDisplay {
    color: #6f95ac;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 4vw;
}

form {
    display: flex;
    min-width: 80vw;
    justify-content: space-between;
    
}

.custom-file-upload, .diagnose-button
 {
    display: inline-block;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    width: 100px;
    border: solid 2px #206493;
}
.custom-file-upload {
    margin: 10px 15px 30px 0;
}

.diagnose-button {
    margin: 10px 0 30px 0;
}

.results {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 20px 20px;
    text-align: start;
    width: 70vw;
}
.prediction-block {
    width: 100vw;
    margin-left: 0;
}



body {
    margin: 0;
    padding: 0;
    
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #1c395b;
    width: 25px;
    height: 25px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    text-align: center;
    }

    .prediction {
    font-size: 13px;
    margin: 10px 20px;
    }

    .diagnosis-detail {
    margin: 10px 20px;
    font-size: 11px;
    }

    .diagnosis {
    width: 90vw;
    margin-bottom: 20px;
    }

    .dr-notes {
    border-radius: 8px;
    padding: 5px 15px;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 11px;
}
.disclaimer {
    font-size: 11px;
    width: 80vw;
    margin-left: 10px;
    padding-left: 10px;

}

.notes {
    width: 100wv;
}

.disclaimer-options {
    margin-left: 10px; 

}




}
